<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./front.css" rel="stylesheet">
</head>
<body>
  <h1> Landing page for you! </h1>
  <p>Hello user, you are not logged in.</p>
  <p>click this link to log in</p> <Button><a href="/login">Login</a></Button>
  <p>If you are not signed up.</p>
  <p>click this link to sign up</p> <Button><a href="/signup">Signup</a></Button>
</html>